<!-- Navigation -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      {{!-- <a href="/" class="navbar-left"><img src="https://drscdn.500px.org/photo/1009871311/m%3D900/v2?sig=a689ed97bc3917f7068df3851230c9782dbcc1f6911f59d7de4d7c40b6c6c1e8" style="height:70px;"></a> --}}

        <!-- <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto navbar-guest">
                <li class="nav-item">
                    <a href="/createprofile/" class="nav-link" href="#">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a href="/login/" class="nav-link" href="#">Log In</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto navbar-user">
                <li class="nav-item welcome">
                </li>
                <li class="nav-item">
                    <a href="/usernav/" class="nav-link nav-dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link btn-logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
